.prod {
    opacity: 0;
 
}
.prodVisible {
    opacity: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(55, 55, 221, 0.763);
    color: white;
    border-radius: 10px;
    height: 80%;
}
.prodVisible p {
    margin-bottom: 0;
}
.prod p{
    margin-bottom: 0;
}