$menu-color: rgb(200, 195, 195);
$header-background: rgba(55, 55, 221, 0.777);


@mixin headerLink($hover: true) {
    display: flex;
    align-items: center;
    color: $menu-color;
    text-decoration: none;
    letter-spacing: 1px;
    @if $hover {
        &:hover{
            scale: 1.07 ;
            color: rgb(225, 221, 221);      
        }
    }
} 

.header {
    background-color: $header-background;
    color: $menu-color;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 10svh;
    &__container{
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    &__brand{
        padding: 5px;
        margin: 0;
        color: $menu-color;
    }
    &__top{
        display: flex;
        justify-content: end;
    }

    &__links{
        padding: 5px;
        display: flex;
        align-items: center;
        column-gap: 12px;
        border-radius: 10px;
    }
    &__link{
        @include headerLink();

        &--isActive{
            color: white;
            font-weight: bold;
        }
    }
 
    &__user{
        font-size: 0.8rem;
        font-weight: bold;
    }
    &__input {
        border-radius: 15px;
        border: solid 1px black;
        height: 30px;
        &::placeholder{
            padding-left: 8px;
            font-style: italic;
        }
        
        
    }

}
.contenedorHead{
    padding: 0;
}
