.cardBody{
    display: flex;
    flex-direction: column;
}
.cardDetail{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.cardTitle{
    height: 5svh;
}

.cardText{
    min-height: 20svh;
}