.vistaDetalle{
    height: 80svh;
    overflow: hidden;
}
.detalleFila{
    height: 80svh;
    display: flex;
    justify-content: center;
}
.imagenDetalle{
    width: 90%;
    height: 75svh;
    border-radius: 10%;
}
.detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.component {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}